.ColorBox {
  width: 20%;
  height: 25%;
  position: relative;
  cursor: pointer;
  transition: background 0.48s ease;
}

.ColorBox.go-back {
  background-color: black;
}

.SinglePalette-colors .ColorBox {
  height: 50%;
}

.back-button {
  /* Sizing */
  position: absolute;
  width: 100px;
  height: 30px;
  display: inline-block;
  top: 50%;
  left: 50%;
  /* offset for size of button to center */
  margin-left: -50px;
  margin-top: -15px;
  /* Visual */
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
