.Palette {
  height: 100vh;
  overflow: hidden;
}

.Palette-colors {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background: transparent;
}
